<form method="post" enctype="multipart/form-data">
    <div class="form-group row">
        <label for="firstName" class="col-md-4 col-xs-12 col-form-label">Prénom</label>
        <div class="col-xs-12 col-md-8">
            <p> {{ session.user.firstName|capitalize }} </p>
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-xs-12 col-md-4 col-form-label">Nom</label>
        <div class="col-xs-12 col-md-8">
            <p>{{ session.user.lastName|upper }}</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-xs-12 col-md-4 col-form-label">Email</label>
        <div class="col-xs-12 col-md-8">
            <p>{{ session.user.email }}</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="date" class="col-xs-12 col-md-4 col-form-label">Date de naissance*</label>
        <div class="col-xs-12 col-md-8">
            <input type="date" value="{{ session.user.birthDate }}" name="birthDate" id="birthDate" class="form-control here">
            <p>{{ errors['birthDate'] }}</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="phoneNumber" class="col-xs-12 col-md-4 col-form-label">Téléphone</label>
        <div class="col-xs-12 col-md-8">
            <input type="text" value="{{ session.user.phoneNumber }}" name="phoneNumber" id="phoneNumber" class="form-control here">
            <p>{{ errors['phoneNumber'] }}</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="github" class="col-xs-12 col-md-4 col-form-label">Github*</label>
        <div class="col-xs-12 col-md-8">
            <input type="text" value="{{ session.user.gitHub }}" name="gitHub" id="github" class="form-control here">
            <p>{{ errors['gitHub'] }}</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="linkedin" class="col-xs-12 col-md-4 col-form-label">Linkedin</label>
        <div class="col-xs-12 col-md-8">
            <input type="text" value="{{ session.user.linkedin }}" name="linkedin" id="linkedin" class="form-control here">
            <p>{{ errors['linkedin'] }}</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="odyssey" class="col-xs-12 col-md-4 col-form-label">Odyssey</label>
        <div class="col-xs-12 col-md-8">
            <input type="text" value="{{ session.user.odyssey }}" name="odyssey" id="odyssey" class="form-control here">
            <p>{{ errors['odyssey'] }}</p>

        </div>
    </div>
    <div class="form-group row">
        <div class="offset-4 col-xs-12 col-md-8">
            <input type="submit" class="btn orange text-white" value="Editer le profil">
            <a href="/profile" class="btn deleteArticle">Retour</a>
        </div>
    </div>
    <small class="form-text text-muted">Le champ marqués d'un * sont obligatoires.</small>
</form>
